{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria Setup</title>
    <style>
        /* Estilos globais para a página */
        body {
            background-color: #121214; /* Fundo escuro igual a imagem */
            color: #fff; /* Texto branco */
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    
    {% include 'catalogo/partials/_menu.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'catalogo/partials/_footer.html' %}

</body>
</html>